[submodule "llama-hip"]
	path = llama-hip
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "agent-evals/samples/laravel-users"]
	path = agent-evals/samples/laravel-users
	url = https://github.com/laravel/laravel.git
[submodule "llama-fork"]
	path = llama-fork
	url = https://github.com/nasone32/llama.cpp-RDNA3-7900xtx-opt.git
